The Witcher Archemist/Library/
The Witcher Archemist/Temp/
The Witcher Archemist/obj/

Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
The Witcher Archemist.sln
The Witcher Archemist/Packages/packages-lock.json
The Witcher Archemist/Packages/packages-lock.json
